{% extends 'base.html.twig' %}

{% block title %}
    Sąskaita Nr. {{ invoice.id }}
{% endblock %}
{% block mainHeader %}
    <h1>Sąskaita Nr. {{ invoice.id }}</h1>
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Užsakymo Id</th>
            <td>{{ invoice.mainOrder.id }}</td>
        </tr>
            <tr>
                <th>Id</th>
                <td>{{ invoice.id }}</td>
            </tr>
            <tr>
                <th>Suma</th>
                <td>{{ invoice.totalSum }} Eur</td>
            </tr>
            <tr>
                <th>Išnaudotos minutės</th>
                <td>{{ invoice.usedMinutes }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ invoice.date|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Išnaudotos žinutės</th>
                <td>{{ invoice.usedMsg }}</td>
            </tr>
            <tr>
                <th>Išnaudoti interneto duomenys</th>
                <td>{{ invoice.usedMbs / 1000 }} Gb</td>
            </tr>
            <tr>
                <th>Skola</th>
                <td>{{ invoice.debt }} Eur</td>
            </tr>
        </tbody>
    </table>

    <div class="col-lg-12">
        <a href="{{ path('invoice_index') }}">Grįžti atgal</a>
    </div>
{% endblock %}
