{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
<h1>User</h1>
    <h1>This is service page, pick service type to continue</h1>
    <a href="/service/mobile">Mobile service</a>
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>SpecialPrice</th>
                <th>MbLimit</th>
                <th>MsgLimit</th>
                <th>TalkMinuteLimit</th>
                <th>SpeedMb</th>
                <th>IsLimited</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.price }}</td>
                <td>{{ service.specialPrice }}</td>
                <td>{{ service.mbLimit }}</td>
                <td>{{ service.msgLimit }}</td>
                <td>{{ service.talkMinuteLimit }}</td>
                <td>{{ service.speedMb }}</td>
                <td>{{ service.isLimited ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('service_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('service_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
<br>
{% endblock %}
