{% extends 'base.html.twig' %}

{% block title %}MessageRequest index{% endblock %}

{% block body %}
    <h1>MessageRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>DateCreated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message_request in message_requests %}
            <tr>
                <td>{{ message_request.id }}</td>
                <td>{{ message_request.message }}</td>
                <td>{{ message_request.dateCreated ? message_request.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('message_request_show', {'id': message_request.id}) }}">show</a>
                    <a href="{{ path('message_request_edit', {'id': message_request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('message_request_new') }}">Create new</a>
{% endblock %}
