{% extends 'base.html.twig' %}

{% block title %} Žinutės {% endblock %}

{% block mainHeader %}<h1>Žinutės</h1>{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th{% if pagination.isSorted('mr.id') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Id', 'mr.id') }}
            </th>
            <th{% if pagination.isSorted('mr.message') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Pranešimas', 'mr.message') }}
            </th>
            <th{% if pagination.isSorted('mr.receiver') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Gavėjas', 'mr.receiver') }}
            </th>
            <th{% if pagination.isSorted('mr.status') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Statusas', 'mr.status') }}
            </th>
            <th{% if pagination.isSorted('mr.dateCreated') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Sukūrimo data', 'mr.dateCreated') }}
            </th>
            <th>Veiksmai</th>
        </tr>
        </thead>
        <tbody>
        {% for message in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    <a href="{{ path('message_request_show', {'id': message.id}) }}">
                        {{ message.id }}
                    </a>
                </td>
                <td>{{ message.message }}</td>
                <td>{{ message.receiver }}</td>
                <td>{{ message.status }}</td>
                <td>{{ message.dateCreated|date('Y-m-d H:i:s') }}</td>
                <td>
                    <a href="{{ path('message_request_show', {'id': message.id}) }}">{{ 'list.action.show'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">{{ 'list.no_results_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="col-lg-12">
        <a href="{{ path('message_request_new') }}">Kurti naują</a>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="alert alert-dark count">
        {{ 'service.list.total'|trans|format(pagination.getTotalItemCount) }}
    </div>
{% endblock %}
