{% extends 'base.html.twig' %}

{% block title %}Žinutė{% endblock %}
{% block mainHeader %}<h1>Žinutė</h1>{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message_request.id }}</td>
            </tr>
            <tr>
                <th>Pranešimas</th>
                <td>{{ message_request.message }}</td>
            </tr>
            <tr>
                <th>Gavėjas</th>
                <td>{{ message_request.receiver }}</td>
            </tr>
            <tr>
                <th>Statusas</th>
                <td>{{ message_request.status }}</td>
            </tr>
            <tr>
                <th>Sukūrimo data</th>
                <td>{{ message_request.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-lg-12">
        <a href="{{ path('message_request_index') }}">Grįžti atgal</a>
    </div>
    <div class="col-lg-12">
        <a href="{{ path('message_request_edit', {'id': message_request.id}) }}">Redaguoti</a>
    </div>
    {{ include('message_request/_delete_form.html.twig') }}
{% endblock %}
