<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Administratoriaus puslapis!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('admin_index') }}">Pagrindinis</a>
                <a href="{{ path('telecom_index_admin') }}">Telekomunikacijos</a>
                <a href="{{ path('server_visit_index') }}">Prisijungimų statistika</a>
                <a href="{{ path('user_activity') }}">Naudotojų stebėjimas</a>
                <a href="{{ path('user_index') }}">Naudotojų sąrašas</a>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </div>
    {% block javascripts %}
        <script src="{{ asset('build/js/main.js') }}"></script>
    {% endblock %}
    </body>
</html>
