{% extends 'base.html.twig' %}

{% block title %}
    Užsakymas Nr. {{ order.id }}
{% endblock %}
{% block mainHeader %}
    <h1>Užsakymas Nr. {{ order.id }}</h1>
{% endblock %}


{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Pradžia</th>
                <td>{{ order.startDate ? order.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Pabaiga</th>
                <td>{{ order.endDate ? order.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Suma</th>
                <td>{{ order.totalSum }}</td>
            </tr>
            <tr>
                <th>PVM</th>
                <td>{{ order.tax }}</td>
            </tr>
            <tr>
                <th>Būsena</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>Sukūrimo data</th>
                <td>{{ order.dateCreated ? order.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Redagavimo data</th>
                <td>{{ order.dateModified ? order.dateModified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Paslaugos</h2>
    <table class="table">
        <tr>
            <th>Pradžia</th>
            <th>Pabaiga</th>
            <th>Kaina</th>
            <th>Paslaugos tipas</th>
        </tr>
        {% for item in order.orderItems %}
            <tr>
                <td>{{ item.dateFrom|date('Y-m-d') }}</td>
                <td>{{ item.dateTo|date('Y-m-d') }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.serviceType }}</td>
            </tr>
        {% else %}
            <tr><td colspan="4">Užsakymas neturi paslaugų.</td></tr>
        {% endfor %}
    </table>

    {% if order.status.id == 1 %}
        <div class="col-lg-12">
            {{ include('order/_submit_form.html.twig') }}
        </div>
        <div class="col-lg-12">
            {{ include('order/_delete_form.html.twig') }}
        </div>
    {% endif %}

    {% if order.status.id == 2 or order.status.id == 3 %}
        <div class="col-lg-12">
            {{ include('order/_cancel_form.html.twig') }}
        </div>
    {% endif %}
    <div class="col-lg-12">
        <a href="{{ path('order_index') }}">Atgal į sąrašą</a>
    </div>

{% endblock %}
