{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>User orders</h1>

<table class="table">
<tr>
            <th>Id</th>
            <th>Mobile plan</th>
</tr>
<tr>
        <td>1</td>
        <td>Max</td>
        <td><input type="submit" value="Cancel"></td>
</tr>
<tr>
        <td>2</td>
        <td>Min</td>
        <td><input type="submit" value="Cancel"></td>
</tr>
</table>
{# 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>TotalSum</th>
                <th>Tax</th>
                <th>DateCreated</th>
                <th>DateModified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.startDate ? order.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.endDate ? order.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.totalSum }}</td>
                <td>{{ order.tax }}</td>
                <td>{{ order.dateCreated ? order.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.dateModified ? order.dateModified|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

 <a href="/service/mobile">Create new mobile plan order</a>
 <br>
    {# <a href="{{ path('order_new') }}">Create new</a> #}
{% endblock %}
